body {
  background-color: grey;
  display: flex;
}

#app-header {
  background-color: bisque;
  width: 100vw;
  height: 10vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#app-div {
  width: 100vw;
  /* background-color: azure; */
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#weather-form {
  margin: 20px;
}
